.lista-quartos {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 20px;

  width: 100%;

  padding: 20px;

  background: #FFFFFF;
  border: 1px solid #F7A52F00; /* uma borda transparente que muda de cor ao passar o mouse (os dois Fs extras definem com opacidade total) */

  border-radius: 25px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.15);
}

.item:hover {
  border-color: #F7A52F;
}

.slider-wrapper {
  position: relative;

  width: 35%;
  height: 100%;

  border-radius: 15px;

  overflow: hidden;
}

.slider-wrapper img.slide {
  max-width: unset;
  height: 100%;
}

.slider-wrapper .slide {
  display: none;
}

.slider-wrapper .slide.active {
  display: block;
}

.slider-wrapper .dots-wrapper {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 20px;

  width: 100%;
  padding-bottom: 10px;
}

.slider-wrapper .dots-wrapper .dot {
  width: .5rem;
  height: .5rem;

  border-radius: 50%;

  background-color: #F6F4F1;
  opacity: 0.5;
}

.slider-wrapper .dots-wrapper .dot.active {
  opacity: 1;
}

.description-wrapper {
  display: grid;
  grid-template-areas:
    "roomInfo priceInfo"
    "icons     icons"    ;
  grid-template-columns: 50% 50%;

  column-gap: 10px;
  row-gap: 20px;

  width:65%;
  height: 100%;
}

.description-wrapper h2, .description-wrapper p, .description-wrapper a {
  margin-bottom: 0;
}

.description-wrapper .room-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  grid-area: roomInfo;

  width: 100%;
  height: 100%;

  row-gap: 10px;
}

.description-wrapper .room-info .room-name {
  color: #495055;

  font-family: "Co Headline Corp", 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.description-wrapper .room-info .room-description {
  font-family: "Co Headline Corp", 'Helvetica', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.room-details {
  color: #7A7A7A;

  font-family: "Co Headline Corp", 'Helvetica', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.room-details:hover {
  color: #7A7A7A;
}

.price-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  grid-area: priceInfo;

  width: 100%;
  height: 100%;
}

.price-button {
  width: 100%;

  padding: 5px 5px 5px 5px;

  background-color: #F7A52F;

  border-radius: 50px 50px 50px 50px;
}

.price-button:hover {
  background-color: #F7A52F;
}

.price-bonus {
  margin-bottom: 20px;

  list-style: none;
}

.price-bonus li {
  color: #54595F;

  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.price-bonus li i {
  margin-right: 5px;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-area: icons;

  row-gap: 10px;

  width: 100%;
}

.icon-wrapper {
  display: none;

  height: 56px;

  border-right: 1px solid rgb(189, 189, 189);

  padding: 6px;
}

.icon-wrapper.active {
  display: block;
}

.icon-wrapper.active:nth-of-type(3n) {
  border-right: none;
}

.icon {
  display: flex;

  column-gap: 10px;

  padding: 5px;
}

.icon img {
  width: 20px;
  height: 20px;
}

.icon span {
  color: #7A7A7A;

  font-size: 10px;
}

/* tablet */

@media (max-width: 768px) {
  .item {
    display: grid;
    grid-template-columns: 100%;

    row-gap: 20px;
  }

  .slider-wrapper {
    width: 100%;
  }

  .description-wrapper {
    width: 100%;
  }

  .icons {
    grid-template-columns: 1fr 1fr;
  }

  .icon-wrapper:nth-of-type(2n) {
      border-right: none;
  }

  .icon-wrapper:nth-of-type(3n) {
      border-right: 1px solid rgb(189, 189, 189);
  }
}

@media (max-width: 440px) {
  .description-wrapper {
    grid-template-areas:
    "roomInfo  roomInfo"
    "priceInfo priceInfo"
    "icons     icons";
  }
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: #000000dd;
}

.popup-wrapper.active {
  display: flex;
}

.popup {
  padding: 2rem;

  background-color: #ffffff;
}

.popup-content {
  display: flex;
  flex-direction: column;

  row-gap: 20px;
}

.hidden {
  display: none;
}
